<h2>Add Customer</h2>

Customer Name<input [(ngModel)]="CustomerModel.customerName" type="text" /><br /><br />
Customer Code<input [(ngModel)]="CustomerModel.customerCode" type="text" /><br /><br />
Customer Amount<input [(ngModel)]="CustomerModel.customerAmount" type="text" /><br /><br />
<input type="submit" (click)="AddCustomer()" />
<!-- 
{{CustomerModel.customerName}}
{{CustomerModel.customerAmount}}
{{CustomerModel.customerCode}} -->
<br /><br />
<h3>Customer List</h3>
<br /><br />
<table border="1">
    <tr>
        <td>Customer Code</td>
        <td>Customer Name</td>
        <td>Customer Amount</td>
        <td>Actions</td>
    </tr>
    <tr *ngFor="let cust of CustomerModels">
        <td>{{cust.customerCode}}</td>
        <td>{{cust.customerName}}</td>
        <td>{{cust.customerAmount}}</td>
        <td><input type="button" value="Edit" /><input type="button" value="Delete" /></td>
    </tr>
</table>