<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://levelupsolutions008.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/e8efffe7-d270-480e-ba1d-a8d8d8343b17/resourceGroups/test-rg1/providers/Microsoft.Web/sites/levelupsolutions008</ResourceId>
    <UserName>$levelupsolutions008</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://levelupsolutions008.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>