<div class="row">
    <div class="col-xl-9">
        <div class="card border-0">
            <div class="card-body">
                <h2>Register</h2>
                <div>
                    <label class="form-label">UserName</label>
                    <input [(ngModel)]="registerModel.userName" class="form-control" type="text" />
                </div>
                <div>
                    <label class="form-label">Password</label>
                    <input [(ngModel)]="registerModel.password" class="form-control" type="text" />
                </div>
                <div class="py-4">
                    <input type="submit" class="btn btn-primary" value="Register" (click)="Register()" />
                </div>
            </div>
        </div>
    </div>
</div>
